@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 15px;
    background-color: white;
    font-weight: 500;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

.section-heading {
    border-bottom: 1px solid #e2dfdf;
    margin-bottom: 20px;
    position: relative;
    padding: 0px 0px 10px;
}

.section-heading::before {
    content: "";
    position: absolute;
    background-color: #FFC107;
    height: 1px;
    width: 200px;
    bottom: -1px;
    left: 0px;
    z-index: 1;
}

/* main theme css is end here */


/* header area css is start here */
header .header-top {
    background-color: #F8F9F9;
    padding: 10px 0px;
}

.hero-right ul li p {
    padding: 8px;
    transition: all 0.3s ease;
}

.hero-right ul li p:hover {
    color: #FED700;
}

.hero-right ul li {
    font-size: 13px;
}

.hero-left p {
    font-size: 13px;
    margin-top: 8px;
}

.hero-left p a {
    color: #000;
    transition: all 0.3s ease;
}

.hero-left p a:hover {
    color: #FED700;
}

.hero-right > ul > li {
    border-right: 1px solid lightgray;
}

.hero-right > ul > li:nth-child(2) {
    border-right: 2px solid lightgray;
}

.hero-right > ul > li:nth-child(3) {
    border-right: none;
}

.hero-right select {
    border: none;
    background-color: transparent;
}

.hero-right select:focus {
    outline: none;
}

.hero-right .nav-link {
    color: #000;
    transition: all 0.3s ease;
}

.hero-right .nav-link:hover {
    color: #FED700;
}

.search-area select {
    border: 1px solid #CED4DA;
    border-radius: 5px;
}

.search-area select:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.header-bottom {
    background-color: #F8F9F9;
    border-top: 1px solid lightgray;
}
/* header area css is end here */


/* nav area start here */
nav .offcanvas-start {
    max-width: 300px;
}

nav .offcanvas-header img {
    width: 130px;
}
/* nav area end here */

/* sidemenu and slider area start here */
.sidenav-bar button {
    width: 100%;
    height: 65px;
    font-size: 25px;
    border-radius: 5px 5px 0px 0px;
}

.sidenav-bar button.btn.btn-warning:focus {
    box-shadow: none;
}

.sidenav-bar .card-body {
    border-radius: 0px 0px 5px 5px;
    padding: 0px;
}

.sidenav-bar .nav .nav-item .nav-link {
    color: #000;
    border-bottom: 1px solid lightgray;
    font-size: 17px;
    transition: all 0.3s ease;
}

.sidenav-bar .nav .nav-item .nav-link:last-of-type {
    border-bottom: none;
}

.sidenav-bar .nav .nav-item:hover .nav-link {
    color: #FFC107;
}

.sidenav-bar .nav .nav-item .nav-link i {
    float: right;
    transition: all 0.2s ease-in-out;
}

.sidenav-bar .nav .nav-item:hover .nav-link i {
    transform: rotate(-90deg);
}

.main-slider .single-slider {
    position: relative;

}

.main-slider .single-slider .slider-content {
    position: absolute;
    top: 20%;
    left: 5%;
    z-index: 1;
    padding: 30px;
}

.main-slider .single-slider .slider-img img {
    height: 450px;
}

.main-slider .slick-next {
    right: 0;
    background: rgba(255, 193, 7, 0.623);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
}

.main-slider .slick-prev {
    left: 0;
    z-index: 99;
    background: rgba(255, 193, 7, 0.623);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
}


/* sidemenu and slider area end here */

.single-cate {
    position: relative;
}

.single-cate a::before {
    content: "";
    position: absolute;
    border: 2px solid transparent;
    width: 90%;
    height: 90%;
    top: 11px;
    left: 22px;
    transition: all 0.3s ease;
}

.single-cate:hover a::before {
    border: 2px solid #fff;
}

/* category area end here */


.hot-deal-slider .card img {
    margin: 0 auto;
}

.hot-deal-slider .card .product-review h6 {
    font-size: 12px;
    color: gray;
    transition: all 0.5s ease;
    margin-bottom: 0;
    margin-top: 5px;
}

.hot-deal-slider .card .product-review h6:hover {
    color: #FFC37F;
}

.hot-deal-slider .card .product-review i {
    font-size: 12px;
}

.hot-deal-slider .product-content h4 {
    font-size: 14px;
    color: #0363CD;
    font-weight: 700;
}

.hot-deal-slider .product-content p {
    color: red;
}

.hot-deal-slider .hot-deals-time li {
    border: 2px solid #aaa;
    padding: 5px;
    margin: 0px 3px;
    text-align: center;
}

.hot-deal-slider .hot-deals-time li p {
    margin: 0;
}

.hot-deal-slider .hot-deals-time li p:first-child {
    color: red;
}

.hot-deal-slider .hot-deals-time {
    margin-bottom: 10px;
}

.hot-deal-slider .product-action-btn .btn {
    transition: all 0.3s ease;
}
.hot-deal-slider .product-action-btn .btn:hover {
    background-color: #FFC107;
    color: #000;
}

.hot-deal-slider .product-action-btn {
    position: relative;
    top: -100px;
    z-index: -1;
    transition: all 0.5s ease;
}

.hot-deal-slider .card:hover .product-action-btn {
    top: 0px;
    z-index: 1;
}

.hot-deal-slider .card {
    transition: all 0.3s ease;
}

.hot-deal-slider .card:hover {
    box-shadow: 2px 2px 10px lightgray;
}

/* hot deals products end here */